{% extends 'index-1.html' %}

{% block titulo %}
<title>Rutas Nor-Oeste</title>
{% endblock %}

{% block pag %}
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header">Rutas NorOeste</h1>
        </div>
        <!--End Page Header -->
    </div>
    <div class="row">
    <div class="col-lg-12">
        <h2>Ruta Casuarina</h2>
            <img src="/static/images/R-casuarina.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Parada Fuerte Huancavilca - Vía Daule - Calle 22 NO. (Honorato Vázquez) - Av. 44 NO. - Calle 21 NO. - Vía Perimetral - Calle 22 NO. - Coop. San Ignacio Loyola.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Coop. San Ignacio Loyola - Calle 22 No. (Honorato Vázquez) - Av. 42 NO. - Calle 23 NO. - Vía Daule - Parada Fuerte Huancavilca.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Flor de Bastión</h2>
            <img src="/static/images/R-flor-bastion.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Bastión Popular - Calle 25 NO. (Marcel Laniado W.) - Camilo Ponce E. - Calle 24 NO (Av. Modesto Luque) hasta Flor de Bastión, bloque 1A.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Flor de Bastión Bloque 1B - Av. Modesto Luque - Av. 42 NO. - Calle 24B NO. - Terminal Bastión Popular.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Iguanas</h2>
            <img src="/static/images/R-iguanas.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Bastión Popular - Calle 25 NO. (Marcel Laneado W.) - Camilo Ponce E. - Manuela Garaycoa - Hasta Flor de Bastión, bloque 8
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Bloque 6 de Flor de Bastión - Manuela Garaycoa - Camilo Ponce Enrique - Terminal Bastión Popular.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Juan Montalvo</h2>
            <img src="/static/images/R-JuanMontalvo.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Parada Florida - av Camilo Ponce E - calle 19H NO - av. 36 NO - Calle 19E NO.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Calle 19 NO - av. 36 NO - calle 19H NO - av. 38D NO - calle 19 NO - av Camilo Ponce E - Parada Florida.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Mucho Lote- Guamote</h2>
            <img src="/static/images/R-Mucholote-G.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Bastión Popular - calle 25 NO (Marcel Laneado) - Av. Isidro Ayora - Av. Francisco de Orellana.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Francisco de Orellana - Via Perimetral - Av. Camilo Ponce E. - Terminal Bastión Popular.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Mucho Lote- Orquídeas</h2>
            <img src="/static/images/R-Mucholote-O.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Bastión Popular - Calle 25 NO. Isidro Ayora - 5to pj 38C NO. - Calle 24B NO. - Av. 37 NO. - Calle 25 NO. (Isidro Ayora) - Av. Francisco de Orellana.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Franccisco de Orellana - Calle 24 NO. - Av. 37 NO. - Isidro Ayora - Terminal Bastión Popular.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Pascuales</h2>
            <img src="/static/images/R-pascuales.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Bastión Popular - Calle 25 NO. (Marcel Laniado W.) - Camilo Ponce E. - Calle 27 A NO. (La Joya de los Sachas) - Cayambe - Shushufindi - Limioncocha - (Flavio Alfaro).
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Flavio Alfaro - Av. 28 de Agosto (Montecristi) - Camilo Ponce E. - Terminal Bastión Popular.
                    </li>
                </ul>
            <div class="clear"></div>
		<h2>Ruta U de Bastión</h2>
            <img src="/static/images/R-UBastion.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Calle 25 NO. (Marcel Laniado W.) - Camilo Ponce E. - Calle 24A NO. - 2° Psj. 38° NO. - 3° Pt 38A NO.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Calle 24 NO. - Camilo Ponce E. Parada California - Terminal Bastión Popular.
                    </li>
                </ul>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

