{% extends 'index-1.html' %}

{% block titulo %}
<title>Rutas Norte</title>
{% endblock %}

{% block pag %}
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header">Rutas Norte</h1>
        </div>
        <!--End Page Header -->
    </div>
    <div class="row">
    <div class="col-lg-12">
        <h2>Ruta Alborada</h2>
            <img src="/static/images/R-alborada.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Río Daule, avenida Antonio Parra Velasco, avenida Agustín Freire, avenida Rodolfo Baquerizo Nazur, avenida Gabriel Roldós Garcés, calle 19A NE, avenida 1C NE, avenida Isidro Ayora.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Avenida Isidro Ayora, avenida Gabriel Roldós Garcés, avenida Rodolfo Baquerizo Nazur, avenida Agustín Freire, avenida Antonio Parra Velasco y Terminal Río Daule.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Guayacanes</h2>
            <img src="/static/images/R-guayacanes.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Río Daule, avenida Antonio Parra Velasco, avenida José María Egas, avenida Rodrigo Icaza, avenida Pdte. Luis Tamayo.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Calle 14 pasaje 5 NE, calle 18 NE, avenida Narcisa de Jesús, avenida Benjamín Rosales, Terminal Río Daule.
                    </li>
                </ul>
        <div class="clear"></div>
        <h2>Ruta Samanes</h2>
            <img src="/static/images/R-samanes.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Río Daule – Av. Antonio Parra Velasco – calle 20B NE – Av. Isidro Ayora – Av. Dr. Francisco Rizzo – Av. 1B NE.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. 1B NE – calle 20 C - Av. Isidro Ayora - calle 20B NE – Av. Antonio Parra Velasco – Terminal Río Daule.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Garzota</h2>
            <img src="/static/images/R-garzota.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Parada Ciudadela Simón Bolívar - Av. de las Américas - Av. Joaquín Orrantia - Av. Juan Tanca M. Av. Guillermo Pareja
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Guillermo Pareja - Av. Hermano Miguel - Av. de las Américas - Parada Ciudadela Simón Bolívar
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Juan Tanca Marengo</h2>
            <img src="/static/images/R-JTMarengo.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        PARADA CENTRO DE CONVENCIONES OESTE- A. de las Américas - Av. Juan T. Marengo -Av. Pedro Valverde - calle 18I NO.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Calle 18I NO. Av. Benjamín Carrión - Av. Francisco de Orellana - Av. Ignacio Robles - Av. Juan T. Marengo - Av. De las Américas - PARADA CENTRO DE CONVENCIONES OESTE.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Orellana</h2>
            <img src="/static/images/R-orellana.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Parada Aguirre Abad - Av. John F. Kennedy - Av. San Jorge - Av. Carlós L. Plaza Dañin.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Carlos L. Plaza Dañin. Av. de las Américas - Parada Aguirre Abad.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Sauces</h2>
            <img src="/static/images/R-sauces.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Río Daule - Av. Antonio Parra Velasco - Av. Gabriel Roldos - 3° Pj. NE.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        3° Pj. x NE - Av. Dr. Enrique Grau Ruiz - Av. Antonio parra Velasco - Terminal Río Daule.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Florida-Rotonda</h2>
            <img src="/static/images/R-florida-rotonda.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Av. 44 NO. - Av. Eduardo Solá - Av. Camilo Ponce Enríquez - Parada Gallegos Lara - Av. J.T. Marengo - Av. Benjamín Carrión - Av. Rodolfo Baquerizo - Av. Fco. De Orellana.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Fco de Orellana - Av. Benjamín Carrión - C.C. La Rotonda - Av. Benjamín Carrión - Av. J.T. Marengo - Av. Camilo Ponce Enríquez - Parada Gallegos Lara - Av. Eduardo Soá - Av. 44 NO.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Mapasingue Oeste</h2>
            <img src="/static/images/R-Mapasingue-O.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Parada Mapasingue - Martha Bucaram de Roldós - Calle 17A NO. - 3er. Psj. 42 NO. - Calle 17 NO. - 3° Transversal 44 NO. - Diagonal 16 NO. - Calle 16 NO. - Av. Leopoldo Carrera C. - ESPOL.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        ESPOL - Av. Leopoldo Carrera C. - Calle 16 NO. - Diagonal 16 No. - 3° Transversal 44 NO. - Calle 17 NO. - Av. 43 NO. - Calle 16C NO. - Martha Bucaram de Roldós - Parada Mapasingue.
                    </li>
                </ul>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
