{% extends 'index-1.html' %}

{% block titulo %}
<title>Rutas Este</title>
{% endblock %}

{% block pag %}
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header">Rutas Este</h1>
        </div>
        <!--End Page Header -->
    </div>
    <div class="row">
    <div class="col-lg-12">
        <h2>Ruta Mapasingue Este</h2>
            <img src="/static/images/R-Mapasingue-E.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Parada Fed. Guayas - Av. C.J. Arosemena - Av. Martha Roldós - calle 16C NO.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Calle 16C NO. - Transversal 36A NO. Av. 36A NO. (Manuel Rendón) - Av. Víctor Emilio Estrada - Av. 37 NO. (Dr. Adolfo Alvear) - Av. C.J. Arosemena - Parada Fed. Guayas.
                    </li>
                </ul>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
