{% extends 'index-1.html' %}

{% block titulo %}
<title>Troncales</title>
{% endblock %}

{% block pag %}
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header">Troncales</h1>
        </div>
        <!--End Page Header -->
    </div>
    <div class="row">
    <div class="col-lg-12">
        <h2>Troncal 1 (Guasmo - Río Daule)</h2>
            <img src="/static/images/T1.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Sector</h3></div>
                        Norte-Centro-Sur
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Río Daule - Av. Benjamín Rosales - Av. Pedro Menéndez Gilbert - Túneles - Av. Boyacá - Av. Olmedo - Chile - Av. Rosa Borja de Ycaza - Av. Domingo Comín - Av. Roberto Serrano - Adolfo H. Simmonds - Av. Dr. Raul Clemente Huerta - Terminal Guasmo
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Terminal Guasmo - Av. Dr. Raul Clemente Huerta - Adolfo H. Simmonds - Av. Roberto Serrano - Av. Domingo Comín - Eloy Alfaro - Pedro Carbo - Roca - Tomás Martínez - Malecón Simón Bolívar - Túneles - Av. Pedro Menéndez Gilber - Av. Benjamín Rosales - Terminal Río Daule
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Troncal 2 (25 de Julio - Río Daule)</h2>
            <img src="/static/images/T2.png" alt="" class="img_inner fleft">
                <ul class="list li">
                    <li class="extra_wrapper">
                        <div><h3>Sector</h3></div>
                        Norte-Centro-Sur
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Río Daule - Av.Benjamín Rosales - Av.De las Américas - Av.Pedro Menéndez - Av. Machala - Alejo Lascano - Pedro Moncayo - Fco.De Marco - Av.Machala - Josefina Barba - Av.25 de Julio - Dr.Juan Montalvo - 3er. Pasaje 1 SO. - Terminal 25 de Julio
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Terminal 25 de Julio - Av.25 de Julio - Av.Quito - Letamendi - Pedro Moncayo - Alejo Lascano - Av.Quito - Av.Pedro Menéndez - Av.De las Américas - Av.Narcisa de Jesús - Terminal Río Daule
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Troncal 3 (Bastión Popular - Centro)</h2>
            <img src="/static/images/T3.png" alt="" class="img_inner fleft">
                <ul class="list li">
                    <li class="extra_wrapper">
                        <div><h3>Sector</h3></div>
                        Nor-Oeste
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Bastión Popular - Marcel Laniado - Vía Daule - Av. Carlos Julio Arosemena - Av 9 de Octubre - Carchi - 1ero. De Mayo - Tulcán - Sucre - Av. Olmedo (Parada IESS) - Eloy Alfaro - Pedro Carbo (Parada Biblioteca)
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Pedro Carbo (Parada Biblioteca) - Sucre - Tulcán - 1ero. de Mayo - ss - Av- 9 de Octubre - Av. Carlos Julio Arosemena - Vía Daule - Marcel Laniado - Terminal Bastión Popular
                    </li>
                </ul>
            <div class="clear"></div>
					</div>
        </div>
    </div>
{% endblock %}
