{% extends 'index-1.html' %}

{% block titulo %}
<title>Rutas Sur</title>
{% endblock %}

{% block pag %}
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header">Rutas Sur</h1>
        </div>
        <!--End Page Header -->
    </div>
    <div class="row">
    <div class="col-lg-12">
        <h2>Ruta Estela Maris - Pradera </h2>
            <img src="/static/images/R-estelaM.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Guasmo - 21 CJ 51F SE - Av. Galo Plaza - Calle 49 SE. - Av. Domíngo Comín - Parada Pradera 2 - Redondel de Av. Pío Jaramillo - Av. Domingo Comín – Av. Cacique Tomalá.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Domingo Comín - Parada Tulipanes - Av. Domingo Comín - Redondel, Calle 47 SE. - Av. 10B SE. - Av. Galo Plaza, 21CJ. 51F SE - Terminal Guasmo
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta La Playita</h2>
            <img src="/static/images/R-playita.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal Guasmo - Av. Raul Clemente Huerta - Av. Abdón Calderón - Av. Cacique Tomalá.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Cacique Tomalá - Av. Abdón Calderón - Av. Raul Clemente Huerta - Terminal Guasmo.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta 25 de Julio - Pradera</h2>
            <img src="/static/images/R-25J-pradera.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - av. Pio Jaramillo - av. Domingo Comín - Parada 9 de Octubre - Av . Domingo Comín - av. Ernesto Albán
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Domingo Comín, Parada Pradera 1 (Troncal 1 ) Redondel, Av. Pio Jaramillo, Terminal 25 de Julio.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Atahualpa - San Agustin </h2>
            <img src="/static/images/R-Atahualpa-SA.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Base en la calle 55 SO y av. 11K SO, calle 55 SO - calle Atahualpa - av. Abdón Calderón - Raúl Clemente Huerta - Av. 25 de Julio - integración a la troncal en la parada Hospital del IESS - continuando hasta la parada San Agustín.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Parada San Agustín - Troncal 2 sentido sur - av. 25 de Julio - av. Raúl C. Huerta - av. Abdón Calderón - calle Atahualpa - calle 55 S0.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Fertisa</h2>
            <img src="/static/images/R-fertisa.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - 3° Cj. 1ª SO. - Calle 49 SO. (Juan Montalvan) - Cayetano Tarruel - Calle 51C SO. - 3ª Pt. 2 SO. - Calle 54 SO. - Av. 8 SO.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. 8 SO. - Calle 54A SO. - 3° Psj. 2 SO. - 3° Pt. 2 SO. - Cayetano Tarruel - 3° Psj. 1ª SO. - Terminal 25 de Julio.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Floresta</h2>
            <img src="/static/images/R-floresta.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - 5º cj. 1a SO - calle 49 SO (Juan Montalván) - Padre Cayetano Tarruel - Los Esteros - Av. 25 de Julio - Roberto Serrano - Domingo Comín - José María Sáenz Padilla - Av.11 SE - Av. 13 SE - 2°cj 51 SE Av. Galo Plaza.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Galo Plaza - Av. 11 SE - José María Sáenz - Domingo Comín - Roberto Serrano - Av. 25 de Julio - Río Centro - retorno - Los Esteros - Cayetano Tarruel - Juan Montalvo - 3º Pj 1A SO - Terminal 25 de Julio.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Guasmo Central</h2>
            <img src="/static/images/R-GuasmoC.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - 3º cj. 1a SO - calle 49 SO (Juan Montalván) - Av. 25 de Julio - calle 57 SE - San Gregorio - Av. 11 SE - calle 56 SE - Av. 11C SE - calle 55 SE - diagonal 54 SE.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Dr. Modesto Jaramillo - Gral. Antonio Eleizalde - av. José Sánchez R - calle 57 SE - av. 25 de Julio - Puyo - Cayetano Tarruel - calle 49 SO - 3º pj. 1a SO - Terminal 25 de Julio.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Guasmo Sur - Cristal</h2>
            <img src="/static/images/R-GuasmoSurC.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - 5º cj. 1a SO - calle 49 SO (Juan Montalván) - Padere Cayetano Tarruel - Los Esteros - av. 25 de Julio - Roberto Serrano - av. Abdón Calderón - calle 56 SE.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Calle 56 SE - Av. 12 SE - calle 55C SE - 1° pt. 12 G SE - calle 55 A - av.12 G SE - calle 55 SE - Dr. Fernando López - av. Abdón Calderón - Roberto Serrano - av. 25 de Julio - Río Centro - retorno - Los Esteros - Cayetano Tarruel - Juan Montalvo - 3º pj. 1a SO - Terminal 25 de Julio.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Los Esteros - 25 de Julio</h2>
            <img src="/static/images/R-esteros.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - Calle 48A SO. - av. 10 SO - Crnl. Jacinto Rodríguez - calle 51C SO - diagonal 51 SC - 1er Pj 17 SO.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        1er Pj 17 SO - calle 50 SO - av. Luis Noboa - calle 50 SO - Av. 10 SO - calle 48 A SO -Terminal 25 de Julio.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Martin Aviles</h2>
            <img src="/static/images/R-martinAviles.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Base en la calle Lautaro Aspiazu y Marti Aviles - av. Abdón Calderón - Raúl Clemente Huerta - av. 25 de Julio - integración a la troncal en la parda Hospital del IESS - continuando hasta la parada San Agustín.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Parada San Agustín - Troncal 2 sentido sur - Av. 25 de Julio - av. Raúl C. Huerta - av. Abdón Calderón - calle Martin Aviles - Lautaro Aspiazu.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Playita - SAn Agustin</h2>
            <img src="/static/images/R-playita-sanAgustin.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Base en Av. Abdón Calderón y Cacique Tomala - Av. Abdón Calderón - Raúl Clemente Huerta - Av 25 de Julio - integración a la Troncal en la parada Hospital del Iess - continuando hasta la parada San Agustín
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Parada San Agustín - Troncal 2 sentido sur - av. 25 de Julio - av. Raúl C. Huerta - Av Abdón Calderón - av Cacique Tomalá.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Puerto Maritimo</h2>
            <img src="/static/images/R-puertomaritimo.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - 3° Cj. 1ª SO. - Calle 49 SO. (Juan Montalvan) - Av. 25 de Julio - Puerto Marítimo - Cacique Tomalá - José Sanchez R, calle 56 SE - av, 11L SE.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Calle 56 SE - av. José Sanchez R. - Av. 11 SE. - Calle 56 SE. - Av. 25 de Julio - Río Centro - retorno - Los Esteros - 2° Psj. 1 SO.- calle 49 SO. 3° Psj. 1ª SO. - Terminal 25 de Julio.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Trinipuerto</h2>
            <img src="/static/images/R-trinipuerto.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - 3° Cj. 1ª SO. - Calle 49 SO. (Juan Montalvan) - Av. Luis Noboa - Vía Perimetral - Av. 29 SO.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. 29 SO. - Vía Perimetral - Av. 2 SO (Sixto Durán) - Calle 48A SO - 3° Psj. 1ª SO.- Terminal 25 de Julio.
                    </li>
                </ul>
            <div class="clear"></div>
        <h2>Ruta Trinitaria - Segundo Puente</h2>
            <img src="/static/images/R-trinitaria-2P.png" alt="" class="img_inner fleft">
                <ul>
                    <li class="extra_wrapper">
                        <div><h3>Salida</h3></div>
                        Terminal 25 de Julio - 3° Cj. 1ª SO. - Calle 49 SO. (Juan Montalvan) - Av. Luis Noboa - Vía Perimetral - Av. 24 SO. - Calle 47 SO. - Benajmín Robles - Vía Perimetral - Av. 32 SO. - Calle 47 A SO. - Av. Marcelino Maridueña.
                    </li>
                    <li class="extra_wrapper">
                        <div><h3>Retorno</h3></div>
                        Av. Marcelino Maridueña - Vía Perimetral - Av. 2 SO (Sixto Durán) - Calle 48A SO - 3° Psj. 1ª SO.- Terminal 25 de Julio. g
                    </li>
                </ul>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
